body {
    background: #FDD02E;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    overflow: auto;
}

.container {
    background: #005058;
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0 0 15px #5dbac3;
    width: 90%;
    max-width: 400px;
    text-align: center;
    color: white;
    font-family: "Inter", sans-serif;
    max-height: 90vh;
    overflow: auto;
}

.form-heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: black;
    font-size: 14px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
    max-height: 150px;
}

button {
    padding: 12px 10%;
    background-color: #FDD02E;
    border: none;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 30px auto 10px;
    width: 100%;
}

button:hover {
    background: #5dbac3;
    color: white;
}
